.infoBox {
  flex: 1;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 0.95rem;
  direction: rtl;
  color: #333;
  line-height: 1.8;
}

.infoItem {
  display: flex;
  align-items: start;
  gap: 0.75rem;
  margin-bottom: 1.2rem;
}

.icon {
  color: #444;
  margin-top: 5px;
}
